# Eclipse

.classpath
.project
.settings

# IntelliJ

.idea
**/*.iml

# VSCode

.vscode

# Maven

target

### NodeJS ###
web/node_modules
web/dist
src/main/resources/static


### Application ###
web/node

# TestNG Reports
**/testng-results.xml
